*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/athlete.jpg");
    background-size: cover;
    background-position: center center;
    font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
}
#app{
    
}
#app > h1{
    font-size: 150px;
    line-height: 1;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    transition: font-size .5s;
    text-align: center;
}
.btnbox{
    width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
a#fontSizeBig_btn, a#fontSizeSmall_btn, a#fontSizeNormal_btn{
    display: block;
    width: 150px;
    background-color: #178fac;
    border-radius: 30px;
    font-size: 19px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 10px #333;
    transition: background .3s, color .3s;
}
a.Btn:hover{
    color: #fff;
    background-color: #1c6577;
}
a#Btn:hover{
    color: #fff;
    background-color: #1c6577;
}